# Set default behavior to automatically guess encoding and normalize line endings
* text=auto

# Force LF for all shell scripts
*.sh text eol=lf
*.bash text eol=lf

# Force CRLF for batch files
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.dll binary
*.exe binary
*.so binary
