@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
	overflow: hidden;
}

* {
	font-family: 'Share Tech Mono', monospace;
	color: white;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

body {
	width: 100wh;
	height: 100vh;
	background-color: #0f0f0f;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.navbar {
	position: fixed;
	height: 100vh;
	width: 200px;
	z-index: 99;
	background-color: #55555511;
	top: 0;
	border-right: 2px solid #0287CF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px #0287CF;
	transition-duration: 0.1s;
	cursor: pointer;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 20px;
}

.btn {
	width: 97%;
	color: #ffffffaa;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: large;
	margin-bottom: 10px;
	transition-duration: 0.2s;
}

.btn:hover {
	background-color: #0287cf55;
	width: 100%;
}

.menulol-container {
	position: fixed;
	top: 20px;
	z-index: 100;
	background-color: #55555511;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	user-select: none;
	cursor: pointer;
	align-items: center;
}

.menulol {
	font-size: 24px;
	color: #0287CF;
}

.sebtn {
	border-left: 2px solid #0287CF;
}

section.hidden {
	display: none;
}

section.active {
	display: block;
}

.content-container {
	left: 210px;
	right: 20px;
	bottom: 20px;
	overflow-y: auto;
	display: flex;
}

.center {
	padding-top: 10px;
	padding: 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.frame {
	border: 2px solid #0287CF;
	background-color: #1f1f1f;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px #0287CF;
}

.about-info {
	margin-top: 20px;
	text-align: center;
}

.about-info p {
	margin: 10px 0;
	font-size: 18px;
}

.about-info a {
	color: #0287CF;
	text-decoration: none;
	transition: color 0.2s;
}

.about-info a:hover {
	color: #555555;
}

.scroll-box {
	max-height: 300px;
	overflow-y: auto;
	background-color: #1f1f1f;
	padding: 10px;
	border: none;
}

.scroll-box::-webkit-scrollbar {
	width: 8px;
}

.scroll-box::-webkit-scrollbar-thumb {
	background-color: #0287CF;
	border-radius: 4px;
}

.clock-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.clock {
	font-size: 48px;
	font-weight: bold;
}

.loading-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #0f0f0f;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.loading-bar {
	width: 300px;
	height: 20px;
	background-color: #1f1f1f;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.loading-bar-fill {
	height: 100%;
	border-radius: 10px;
	background-color: #0287CF;
	width: 0;
	animation: loading 2s ease-in-out infinite alternate;
}

.loading-message {
	font-size: 24px;
	color: #0287CF;
	font-family: 'Share Tech Mono', monospace;
}

@keyframes loading {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

.btns {
	display: inline-block;
	background-color: #0287CF;
	color: #fff;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	margin: 0 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px #0287CF;
}

.btns:hover {
	background-color: #222222;
	color: #0287CF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px #0287CF;
}

#loading-spin {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: none;
}

#loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	border: 4px solid #ffffff;
	border-top-color: #0287CF;
	border-radius: 50%;
	animation: spin 1s infinite linear;
	display: none;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#notification-container {
	position: absolute;
	left: 66%;
	z-index: 10000;
}

.notification-bar {
	width: 300px;
	background-color: #222222;
	color: #0287CF;
	border-radius: 10px;
	border: 2px solid #0287CF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px #0287CF;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	opacity: 1;
	visibility: visible;
}

.notification-content {
	margin-bottom: 10px;
}

.notification-progress {
	height: 5px;
	background-color: #0287CF;
	width: 100%;
	border-radius: 20px;
	animation: notification-progress-animation 3s linear forwards;
}

@keyframes notification-progress-animation {
	0% {
		width: 100%;
	}

	100% {
		width: 0%;
	}
}

.notification-icon {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: left center;
}

.success .notification-icon {
	background-image: url('../feather/check-circle.svg');
}

.failure .notification-icon {
	background-image: url('../feather/x-circle.svg');
}

.warning .notification-icon {
	background-image: url('../feather/alert-triangle.svg');
}

.checking .notification-icon {
	background-image: url('../feather/alert-triangle.svg');
}

.custom-input {
	border-radius: 10px;
	border: none;
	padding: 10px;
	background-color: #222222;
	color: #fff;
	transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
	outline: none;
}

.custom-input:hover {
	border-color: #4ba3e2;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 12px #4ba3e2;
	background-color: #333333;
}

.custom-input:focus {
	border-color: #4ba3e2;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 12px #4ba3e2;
	background-color: #444444;
}